@use "root" as r;

.Dropdown {
  flex-direction: column;
  border-radius: 8px;
  display: none;
  top: 100%;
  margin-top: 8px;
  left: 0;
  position: absolute;
  border: 1px solid r.$text-color;
  background-color: #fff;
  animation: r.$transition show ease-in-out;
  width: max-content;

  &.active {
    opacity: 1;
    display: flex;
  }
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}