@use "root" as r;

@mixin secondary {
  padding: 14px 18px;
  border-radius: 12px;
  cursor: pointer;
  color: r.$text-color;
  border: 1px solid r.$text-color;
}

.HeaderButton {
  padding: 14px 18px;
  border-radius: 12px;
  cursor: pointer;
}

.HeaderButton.primary {
  background: r.$color-secondary;
  color: white;
}

.HeaderButton.secondary {
  @include secondary;
}